
        body {
            font-family: 'Arial', sans-serif;
            background-color:#ece1e1;
            margin: 0;
            padding: 0;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        .champion-box1 {
            margin: 20px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            text-align: left;
            background-color: #f9f9f9;
            margin-right: 66%;
            margin-left: 9%;

        }
        .champion-box2 {
            margin: 20px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
            text-align: left;
            margin-right: 37%;
            margin-top: -47%;
            margin-left: 39%;
        }
        .champion-box3 {
            margin: 20px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
            text-align: left;
            margin-right: 9%;
            margin-left: 68%;
            margin-top: -42%;
        }
        .champion-box4 {
            margin: 20px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
            text-align: left;
            margin-top: 7%;
            margin-right: 66%;
            margin-left: 9%;
        }
        .champion-box5 {
            margin: 20px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
            text-align: left;
            margin-right: 37%;
            margin-top: -36%;
            margin-left: 39%;
        }
        .champion-box6 {
            margin: 20px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
            text-align: left;
            margin-right: 9%;
            margin-left: 68%;
            margin-top: -31%;
        }
        .champion-box7{
            margin: 20px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
            text-align: left;
            margin-top: 8%;
            margin-right: 66%;
            margin-left: 9%;
        }
        .champion-box8 {
            margin: 20px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
            text-align: left;
            margin-right: 37%;
            margin-top: -24.5%;
            margin-left: 39%;
        }

        .year {
            font-weight: bold;
            color: #3498db;
        }

        .host {
            color: #666;
        }
